$color-primary-dark900: #684607;
$color-primary-dark800: #8B5D09;
$color-primary-dark600: #AD750B;
$color-primary-dark400: #D08C0D;
$color-primary-dark200: #F0A212;
$color-primary-alt: #F2B035;
$color-primary-light200: #F4BA4E;
$color-primary-light400: #F5C468;
$color-white: #fafafa;
$color-dark: #2c2c2c;
$color-grey: #e5e5e5;

