* {
  font-family: "Lato", sans-serif;
}

// Font sizes desktop

$font-size-desktop-h1: 2.25rem;
$font-size-desktop-h2: 1.75rem;
$font-size-desktop-h3: 1.25rem;
$font-size-desktop-h4: 1rem;
$font-size-desktop-h5: 0.85rem;
$font-size-desktop-h6: 0.75rem;
$font-size-desktop-p: 1rem;

// Font sizes movil 

$font-size-mobile-h1: 1.5rem;
$font-size-mobile-h2: 1.25rem;
$font-size-mobile-h3: 1rem;
$font-size-mobile-h4: 0.85rem;
$font-size-mobile-h5: 0.75rem;
$font-size-mobile-h6: 0.65rem;
$font-size-mobile-p: 0.85rem;

