// Z-index

$z-index-background: -100;
$z-index-background-overlay: -50;
$z-index-normal: 0;
$z-index-fixed: 100;
$z-index-modal-overlay: 900; 
$z-index-modal: 1000;
// Para publicidad, promociones, cookies, etc. 
$z-index-popover: 1500;