.book_btn {
  padding: 1rem 2rem;
  color: $color-primary-alt;
  border: 2px solid $color-primary-alt;
  background-color: transparent;
  margin-top: 1rem;
  border-radius: 0.25rem;
  font-weight: 900;
  letter-spacing: 0.25rem;

  @include bp($mobile) {
    padding: 0.75rem 1.5rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin-top: 2rem;
  }

  &:hover {
    background-color: $color-primary-alt;
    color: $color-white;
    cursor: pointer;
    transition: 300ms;
  }
}

// SVG btn - scroll

.scroll_btn {
  color: $color-primary-alt;

  @include bp($mobile) {
    display: none;
  }
}

// Botón de VIEW CABIN
.cabins_section--btn {
  background-color: transparent;
  border: 2px solid;
  border-color: darken($color-white, 20);
  padding: 0.75rem 2rem;
  font-size: 1rem;
  color: darken($color-white, 20);
  border-radius: 0.7rem;
  width: 50%;

  &:hover {
    background-color: $color-primary-alt;
    color: $color-dark;
    cursor: pointer;
    transition: 300ms;
    border: 2px solid $color-primary-alt;
  }

  @include bp($mobile) {
    padding: 0.5rem 1.25rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    margin: auto;
  }
}

