.header {
  background-image: url(/img/cabinLake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  @include bp($mobile) {
    flex-direction: column;
    height: auto;
    background-image: url(/img/cabinLakeMovil.JPG);
    background-position: center;
  }
  &_description {
    color: $color-white;
    z-index: $z-index-normal;
    width: 50%;

    @include bp($mobile) {
      text-align: center;
      width: 90%;
      margin-top: 8rem;
      margin-bottom: 8rem;
    }
    p {
      line-height: 1.5;
      line-height: 1.5;
      font-size: $font-size-desktop-p;
      font-weight: 400;

      @include bp($mobile) {
        font-size: $font-size-mobile-p;
        line-height: 1.5rem;
      }
    }

    
  }

  &_background--overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.35);
  }
}
.description {
  &_line {
    height: 1px;
    width: 100%;
    background-color: $color-white;
    margin: 0.5rem 0;
  }
  &_title {
    line-height: 1.3;
    font-size: $font-size-desktop-h1;
    color: $color-white;
    

    @include bp($mobile) {
      line-height: 1.2;
      font-size: $font-size-mobile-h1;
    }
  }
  &_btn {
    margin-top: 1rem;
  }
}

.scroll_container {
  width: 50%;
  text-align: right;
}
